:root {
  --primary: #0796d3;
  --primary-soft: #53c0f0;
  --secondary: #e7eefb;
  --danger: #d30707;
  --danger-soft: #f05353;
  --background: #ffffff;
  --foreground: #000000;
  --border: #d7dde9;
  --width: 1328px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: var(--Inter_Tight);
  font-size: 1rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.02rem;
}

a {
  color: inherit;
  text-decoration: none;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 100dvh;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
}

::backdrop {
  background-color: rgb(255 255 255);
  backdrop-filter: blur(3px);
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font-size: 2rem;
    font-weight: 500;
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media (min-width: 450px) {
  dialog {
    height: fit-content;
    box-shadow: 0 24px 48px -12px rgb(16 24 40 /18%);
  }

  ::backdrop {
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(3px);
  }

  .dialog {
    grid-template-columns: repeat(2, 1fr);

    .button:nth-last-child(1) {
      order: -1;
    }
  }
}
